In [1]:
import sys
sys.dont_write_bytecode = True
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from dataMethods import *
from collections import OrderedDict
from scipy.stats import norm
Z = norm.ppf

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

In [2]:
import os
from os.path import expanduser

In [3]:
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'

In [4]:
dataSheets = [dataDirectory + 's1/runData/run3_2016_Jul_21_1044.csv']

In [5]:
testRuns = [(1,3)]

In [6]:
subjRunCount = OrderedDict()
for run in testRuns:
    subjRunCount[str(run[0])] = 0
for run in testRuns:
    subjRunCount[str(run[0])] += 1

In [7]:
conds = OrderedDict([('t2d0', (2, 0)), ('t2d2', (2, 2)), ('t2d4', (2, 4)), ('t4d0', (4, 0)), ('t4d2', (4, 2)), ('t4d4', (4, 4))])

In [8]:
hemiConds = OrderedDict([('t1d0', (1, 0)), ('t1d1', (1, 1)), ('t1d2', (1, 2)), ('t2d0', (2, 0)), ('t2d1', (2, 1)), ('t2d2', (2, 2))])

In [9]:
Kvals = []
hitRates = []
faRates = []
RTvals = []
dPrimes = []

for sheet in dataSheets:
    Kvals.append(pashlerK(sheet)['Kvals'])
    hitRates.append(pashlerK(sheet)['hitRates'])
    faRates.append(pashlerK(sheet)['fAlarmRates'])
    RTvals.append(rtCalc(sheet))
    dPrimes.append(dprime(sheet))
    
kChart = pd.DataFrame(Kvals, index=testRuns, columns=conds.keys())
hitChart = pd.DataFrame(hitRates, index=testRuns, columns=conds.keys())
faChart = pd.DataFrame(faRates, index=testRuns, columns=conds.keys())
rtChart = pd.DataFrame(RTvals, index=testRuns, columns=conds.keys())
dpChart = pd.DataFrame(dPrimes, index=testRuns, columns=conds.keys())

In [10]:
kChart

            t2d0      t2d2      t2d4  t4d0  t4d2      t4d4
(1, 3)  1.904762  1.574468  1.454545  2.08   2.0  1.913043

In [11]:
hitChart

            t2d0      t2d2      t2d4  t4d0  t4d2  t4d4
(1, 3)  0.954545  0.791667  0.727273  0.52   0.5  0.52

In [12]:
faChart

            t2d0      t2d2  t2d4  t4d0  t4d2  t4d4
(1, 3)  0.045455  0.020833   0.0   0.0   0.0  0.08

In [13]:
rtChart

            t2d0      t2d2      t2d4      t4d0     t4d2      t4d4
(1, 3)  0.555115  0.616381  0.634771  0.649531  0.65696  0.710298

In [14]:
dpChart

            t2d0      t2d2      t2d4      t4d0      t4d2      t4d4
(1, 3)  3.381243  2.849052  2.605009  2.103902  2.260189  1.455225

In [15]:
kSubjMeans = []
hitSubjMeans = []
faSubjMeans= []
rtSubjMeans = []
dpSubjMeans = []
index = 0
for subj in subjRunCount.keys():
    kSubjMeans.append(kChart[index:index+subjRunCount[subj]].mean())
    hitSubjMeans.append(hitChart[index:index+subjRunCount[subj]].mean())
    faSubjMeans.append(faChart[index:index+subjRunCount[subj]].mean())
    rtSubjMeans.append(rtChart[index:index+subjRunCount[subj]].mean())
    dpSubjMeans.append(dpChart[index:index+subjRunCount[subj]].mean())
    index += subjRunCount[subj]

kSubjMeanChart = pd.DataFrame(kSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
hitSubjMeanChart = pd.DataFrame(hitSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
faSubjMeanChart = pd.DataFrame(faSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
rtSubjMeanChart = pd.DataFrame(rtSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
dpSubjMeanChart = pd.DataFrame(dpSubjMeans, index=subjRunCount.keys(), columns=conds.keys())

In [16]:
kSubjMeanChart

       t2d0      t2d2      t2d4  t4d0  t4d2      t4d4
1  1.904762  1.574468  1.454545  2.08   2.0  1.913043

In [17]:
hitSubjMeanChart

       t2d0      t2d2      t2d4  t4d0  t4d2  t4d4
1  0.954545  0.791667  0.727273  0.52   0.5  0.52

In [18]:
faSubjMeanChart

       t2d0      t2d2  t2d4  t4d0  t4d2  t4d4
1  0.045455  0.020833   0.0   0.0   0.0  0.08

In [19]:
rtSubjMeanChart

       t2d0      t2d2      t2d4      t4d0     t4d2      t4d4
1  0.555115  0.616381  0.634771  0.649531  0.65696  0.710298

In [20]:
dpSubjMeanChart

       t2d0      t2d2      t2d4      t4d0      t4d2      t4d4
1  3.381243  2.849052  2.605009  2.103902  2.260189  1.455225

In [21]:
kCondMeans = []
kNameArray = ["K Value Mean"]
hitCondMeans = []
hitNameArray = ["Hit Rate Mean"]
faCondMeans = []
faNameArray = ["FA Rate Mean"]
rtCondMeans = []
rtNameArray = ["RT Mean"]
dpCondMeans = []
dpNameArray = ["d' Mean"]

for key in conds:
    kCondMeans.append(kSubjMeanChart[key].mean())
    hitCondMeans.append(hitSubjMeanChart[key].mean())
    faCondMeans.append(faSubjMeanChart[key].mean())
    rtCondMeans.append(rtSubjMeanChart[key].mean())
    dpCondMeans.append(dpSubjMeanChart[key].mean())
    
kCondMeanChart = pd.DataFrame(kCondMeans, index=conds.keys(), columns=kNameArray)
hitCondMeanChart = pd.DataFrame(hitCondMeans, index=conds.keys(), columns=hitNameArray)
faCondMeanChart = pd.DataFrame(faCondMeans, index=conds.keys(), columns=faNameArray)
rtCondMeanChart = pd.DataFrame(rtCondMeans, index=conds.keys(), columns=rtNameArray)
dpCondMeanChart = pd.DataFrame(dpCondMeans, index=conds.keys(), columns=dpNameArray)

In [22]:
kCondMeanChart

      K Value Mean
t2d0      1.904762
t2d2      1.574468
t2d4      1.454545
t4d0      2.080000
t4d2      2.000000
t4d4      1.913043

In [23]:
hitCondMeanChart

      Hit Rate Mean
t2d0       0.954545
t2d2       0.791667
t2d4       0.727273
t4d0       0.520000
t4d2       0.500000
t4d4       0.520000

In [24]:
faCondMeanChart

      FA Rate Mean
t2d0      0.045455
t2d2      0.020833
t2d4      0.000000
t4d0      0.000000
t4d2      0.000000
t4d4      0.080000

In [25]:
rtCondMeanChart

       RT Mean
t2d0  0.555115
t2d2  0.616381
t2d4  0.634771
t4d0  0.649531
t4d2  0.656960
t4d4  0.710298

In [26]:
dpCondMeanChart

       d' Mean
t2d0  3.381243
t2d2  2.849052
t2d4  2.605009
t4d0  2.103902
t4d2  2.260189
t4d4  1.455225

In [27]:
leftHitRates = []
rightHitRates = []
leftdPrimes = []
rightdPrimes = []

for sheet in dataSheets:
    leftHitRates.append(hemHitRates(sheet, 'left'))
    rightHitRates.append(hemHitRates(sheet, 'right'))
    leftdPrimes.append(hemdPrime(sheet, 'left'))
    rightdPrimes.append(hemdPrime(sheet, 'right'))
    
leftHitRateChart = pd.DataFrame(leftHitRates, index=testRuns, columns=hemiConds.keys())
rightHitRateChart = pd.DataFrame(rightHitRates, index=testRuns, columns=hemiConds.keys())
leftdPrimeChart = pd.DataFrame(leftdPrimes, index=testRuns, columns=hemiConds.keys())
rightdPrimeChart = pd.DataFrame(rightdPrimes, index=testRuns, columns=hemiConds.keys())

In [28]:
leftHitRateChart

        t1d0  t1d1      t1d2      t2d0      t2d1  t2d2
(1, 3)   0.5   0.5  0.666667  0.676471  0.631579   0.5

In [29]:
rightHitRateChart

        t1d0      t1d1      t1d2      t2d0      t2d1   t2d2
(1, 3)   1.0  0.833333  0.818182  0.666667  0.692308  0.625

In [30]:
leftdPrimeChart

            t1d0      t1d1     t1d2      t2d0      t2d1      t2d2
(1, 3)  1.690622  1.644854  2.23347  2.708778  2.421394  1.741291

In [31]:
rightdPrimeChart

            t1d0      t1d1     t1d2      t2d0      t2d1      t2d2
(1, 3)  3.289707  2.612275  2.77119  2.699933  2.288558  1.998301

In [32]:
leftHitRateSubjMeans = []
rightHitRateSubjMeans = []
leftdPrimeSubjMeans = []
rightdPrimeSubjMeans = []
index = 0
for subj in subjRunCount.keys():
    leftHitRateSubjMeans.append(leftHitRateChart[index:index+subjRunCount[subj]].mean())
    rightHitRateSubjMeans.append(rightHitRateChart[index:index+subjRunCount[subj]].mean())
    leftdPrimeSubjMeans.append(leftdPrimeChart[index:index+subjRunCount[subj]].mean())
    rightdPrimeSubjMeans.append(rightdPrimeChart[index:index+subjRunCount[subj]].mean())
    index += subjRunCount[subj]

leftHitRateSubjMeanChart = pd.DataFrame(leftHitRateSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())
rightHitRateSubjMeanChart = pd.DataFrame(rightHitRateSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())
leftdPrimeSubjMeansChart = pd.DataFrame(leftdPrimeSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())
rightdPrimeSubjMeansChart = pd.DataFrame(rightdPrimeSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())

In [33]:
leftHitRateSubjMeanChart

   t1d0  t1d1      t1d2      t2d0      t2d1  t2d2
1   0.5   0.5  0.666667  0.676471  0.631579   0.5

In [34]:
rightHitRateSubjMeanChart

   t1d0      t1d1      t1d2      t2d0      t2d1   t2d2
1   1.0  0.833333  0.818182  0.666667  0.692308  0.625

In [35]:
leftdPrimeSubjMeansChart

       t1d0      t1d1     t1d2      t2d0      t2d1      t2d2
1  1.690622  1.644854  2.23347  2.708778  2.421394  1.741291

In [36]:
rightdPrimeSubjMeansChart

       t1d0      t1d1     t1d2      t2d0      t2d1      t2d2
1  3.289707  2.612275  2.77119  2.699933  2.288558  1.998301

In [42]:
leftHitRateCondMeans = []
leftHitNameArray = ["left HitRate Mean"]
rightHitRateCondMeans = []
rightHitNameArray = ["right HitRate Mean"]
leftdPrimeCondMeans = []
leftdPrimeNameArray = ["left dPrime Mean"]
rightdPrimeCondMeans = []
rightdPrimeNameArray = ["right dPrime Mean"]

for key in hemiConds:
    leftHitRateCondMeans.append(leftHitRateSubjMeanChart[key].mean())
    rightHitRateCondMeans.append(rightHitRateSubjMeanChart[key].mean())
    leftdPrimeCondMeans.append(leftdPrimeSubjMeansChart[key].mean())
    rightdPrimeCondMeans.append(rightdPrimeSubjMeansChart[key].mean())
    
leftHitRateCondMeanChart = pd.DataFrame(leftHitRateCondMeans, index=hemiConds.keys(), columns=leftHitNameArray)
rightHitRateCondMeanChart = pd.DataFrame(rightHitRateCondMeans, index=hemiConds.keys(), columns=rightHitNameArray)
leftdPrimeCondMeanChart = pd.DataFrame(leftdPrimeCondMeans, index=hemiConds.keys(), columns=leftdPrimeNameArray)
rightdPrimeCondMeanChart = pd.DataFrame(rightdPrimeCondMeans, index=hemiConds.keys(), columns=rightdPrimeNameArray)

In [43]:
leftHitRateCondMeanChart

      left HitRate Mean
t1d0           0.500000
t1d1           0.500000
t1d2           0.666667
t2d0           0.676471
t2d1           0.631579
t2d2           0.500000

In [44]:
rightHitRateCondMeanChart

      right HitRate Mean
t1d0            1.000000
t1d1            0.833333
t1d2            0.818182
t2d0            0.666667
t2d1            0.692308
t2d2            0.625000

In [45]:
leftdPrimeCondMeanChart

      left dPrime Mean
t1d0          1.690622
t1d1          1.644854
t1d2          2.233470
t2d0          2.708778
t2d1          2.421394
t2d2          1.741291

In [46]:
rightdPrimeCondMeanChart

      right dPrime Mean
t1d0           3.289707
t1d1           2.612275
t1d2           2.771190
t2d0           2.699933
t2d1           2.288558
t2d2           1.998301