In [1]:
import sys
sys.dont_write_bytecode = True
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from dataMethods import *
from collections import OrderedDict

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

In [2]:
import os
from os.path import expanduser

In [3]:
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'

In [4]:
lstimDataSheets = [dataDirectory + 's2/runData/run1_2016_Jul_27_1158.csv', dataDirectory + 's3/runData/run2_2016_Jul_27_1445.csv', dataDirectory + 's4/runData/run3_2016_Jul_27_1718.csv', dataDirectory + 's5/runData/run2_2016_Aug_01_1225.csv', dataDirectory + 's6/runData/run3_2016_Aug_01_1449.csv']

In [5]:
rstimDataSheets = [dataDirectory + 's2/runData/run3_2016_Jul_27_1251.csv', dataDirectory + 's3/runData/run1_2016_Jul_27_1418.csv', dataDirectory + 's4/runData/run1_2016_Jul_27_1629.csv', dataDirectory + 's5/runData/run3_2016_Aug_01_1249.csv', dataDirectory + 's6/runData/run2_2016_Aug_01_1424.csv']

In [6]:
shamDataSheets = [dataDirectory + 's2/runData/run2_2016_Jul_27_1223.csv', dataDirectory + 's3/runData/run3_2016_Jul_27_1510.csv', dataDirectory + 's4/runData/run2_2016_Jul_27_1654.csv', dataDirectory + 's5/runData/run1_2016_Aug_01_1200.csv', dataDirectory + 's6/runData/run1_2016_Aug_01_1400.csv']

In [7]:
stimTestRuns = [(2,1),(3,2),(4,3),(5,2),(6,3),(2,3),(3,1),(4,1),(5,3),(6,2)]

In [8]:
shamTestRuns = [(2,2),(2,2),(3,3),(3,3),(4,2),(4,2),(5,1),(5,1),(6,1),(6,1)]

In [9]:
HFconds = OrderedDict([('t1d0', (1, 0)), ('t1d1', (1, 1)), ('t1d2', (1, 2)), ('t2d0', (2, 0)), ('t2d1', (2, 1)), ('t2d2', (2, 2))])

In [10]:
contraKvals = []
ipsiKvals = []
shamKvals = []
contraHitRates = []
ipsiHitRates = []
shamHitRates = []
contraRTs = []
ipsiRTs = []
shamRTs = []
contradPrimes = []
ipsidPrimes = []
shamdPrimes = []

for sheet in lstimDataSheets:
    ipsiKvals.append(pashlerK(sheet, 'left')['Kvals'])
    contraKvals.append(pashlerK(sheet, 'right')['Kvals'])
    ipsiHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    contraHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    ipsiRTs.append(rtCalc(sheet, 'left'))
    contraRTs.append(rtCalc(sheet, 'right'))
    ipsidPrimes.append(dprime(sheet, 'left'))
    contradPrimes.append(dprime(sheet, 'right'))
for sheet in rstimDataSheets:
    contraKvals.append(pashlerK(sheet, 'left')['Kvals'])
    ipsiKvals.append(pashlerK(sheet, 'right')['Kvals'])
    contraHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    ipsiHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    contraRTs.append(rtCalc(sheet, 'left'))
    ipsiRTs.append(rtCalc(sheet, 'right'))
    contradPrimes.append(dprime(sheet, 'left'))
    ipsidPrimes.append(dprime(sheet, 'right'))
for sheet in shamDataSheets:
    shamKvals.append(pashlerK(sheet, 'left')['Kvals'])
    shamKvals.append(pashlerK(sheet, 'right')['Kvals'])
    shamHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    shamHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    shamRTs.append(rtCalc(sheet, 'left'))
    shamRTs.append(rtCalc(sheet, 'right'))
    shamdPrimes.append(dprime(sheet, 'left'))
    shamdPrimes.append(dprime(sheet, 'right'))
    
contraKchart = pd.DataFrame(contraKvals, index=stimTestRuns, columns=HFconds.keys())
ipsiKchart = pd.DataFrame(ipsiKvals, index=stimTestRuns, columns=HFconds.keys())
shamKchart = pd.DataFrame(shamKvals, index=shamTestRuns, columns=HFconds.keys())
contraHitRateChart = pd.DataFrame(contraHitRates, index=stimTestRuns, columns=HFconds.keys())
ipsiHitRateChart = pd.DataFrame(ipsiHitRates, index=stimTestRuns, columns=HFconds.keys())
shamHitRateChart = pd.DataFrame(shamHitRates, index=shamTestRuns, columns=HFconds.keys())
contraRTchart = pd.DataFrame(contraRTs, index=stimTestRuns, columns=HFconds.keys())
ipsiRTchart = pd.DataFrame(ipsiRTs, index=stimTestRuns, columns=HFconds.keys())
shamRTchart = pd.DataFrame(shamRTs, index=shamTestRuns, columns=HFconds.keys())
contradPrimeChart = pd.DataFrame(contradPrimes, index=stimTestRuns, columns=HFconds.keys())
ipsidPrimeChart = pd.DataFrame(ipsidPrimes, index=stimTestRuns, columns=HFconds.keys())
shamdPrimeChart = pd.DataFrame(shamdPrimes, index=shamTestRuns, columns=HFconds.keys())

In [31]:
contraKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.000000  0.294118  0.272727  1.823529  1.437500  1.657143
(3, 2)  0.828571  0.314286  0.083333  1.027027  0.950000  0.578947
(4, 3)  1.000000  0.142857  0.500000  1.769231  2.000000  1.727273
(5, 2)  1.000000  0.142857  0.225806  0.615385  1.454545  0.800000
(6, 3)  0.657143  0.083333  0.000000  0.800000  0.894737  1.027027
(2, 3)  0.727273  1.000000  0.853659  1.833333  1.272727  1.470588
(3, 1)  0.709677  0.560976  1.000000  0.484211  0.875214  0.608553
(4, 1)  1.000000  1.000000  1.000000  2.000000  2.000000  1.714286
(5, 3)  0.909091  0.918919  0.925000  1.500000  1.166667  1.675676
(6, 2)  0.314286  0.700000  0.533333  1.538462  1.052632  0.857143

In [12]:
ipsiKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.785714  0.769231  0.846154  1.225806  1.636364  1.272727
(3, 2)  0.735294  0.775000  0.720930  0.833333  0.769231  1.121951
(4, 3)  1.000000  1.000000  0.888889  2.000000  1.750000  2.000000
(5, 2)  0.653846  1.000000  0.921053  1.379310  0.551724  0.551724
(6, 3)  0.558824  0.475000  0.533333  1.189189  0.702703  1.210526
(2, 3)  0.823529  0.129032  0.090909  1.272727  1.272727  1.272727
(3, 1)  0.909091  0.289474  0.062500  1.140244  0.601351  0.880000
(4, 1)  1.000000  0.192308  0.160000  1.538462  1.250000  1.714286
(5, 3)  0.709677  0.200000  0.032258  1.117647  0.545455  0.687500
(6, 2)  0.605263  0.117647 -0.105263  0.800000  0.666667  0.500000

In [13]:
shamKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.742857  1.000000  0.925000  1.437500  1.647059  1.828571
(2, 2)  0.647059  0.250000  0.272727  1.636364  1.454545  1.250000
(3, 3)  0.454545  0.625000  0.700000  1.027027  0.833333  1.189189
(3, 3)  0.921053  0.351351  0.333333  1.210526  1.384615  1.000000
(4, 2)  1.000000  1.000000  1.000000  1.769231  1.760000  2.000000
(4, 2)  1.000000  0.666667  0.045455  1.520000  2.000000  1.760000
(5, 1)  1.000000  0.916667  0.911765  1.823529  0.645161  0.500000
(5, 1)  1.000000  0.172414  0.379310  1.000000  0.875000  0.800000
(6, 1)  0.769231  0.571429  0.571429  1.162791  0.390244  0.428571
(6, 1)  0.294118  0.210526  0.108108  0.054054  0.744186  0.604651

In [14]:
contraRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.544220  0.495809  0.556684  0.543406  0.553849  0.545571
(3, 2)  0.508909  0.487914  0.526966  0.518004  0.555786  0.544573
(4, 3)  0.367001  0.359336  0.375432  0.391132  0.365337  0.383072
(5, 2)  0.546760  0.597939  0.569477  0.607837  0.693103  0.642553
(6, 3)  0.540487  0.599052  0.684784  0.618460  0.548379  0.648262
(2, 3)  0.529488  0.507179  0.573952  0.535990  0.502786  0.538778
(3, 1)  0.565604  0.550471  0.535541  0.623358  0.662684  0.601438
(4, 1)  0.404015  0.402012  0.421983  0.428008  0.421478  0.438024
(5, 3)  0.535222  0.565465  0.567172  0.641005  0.636547  0.652813
(6, 2)  0.603168  0.565365  0.676530  0.570385  0.671876  0.656272

In [15]:
ipsiRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.544220  0.495809  0.556684  0.543406  0.553849  0.545571
(3, 2)  0.508909  0.487914  0.526966  0.518004  0.555786  0.544573
(4, 3)  0.367001  0.359336  0.375432  0.391132  0.365337  0.383072
(5, 2)  0.546760  0.597939  0.569477  0.607837  0.693103  0.642553
(6, 3)  0.540487  0.599052  0.684784  0.618460  0.548379  0.648262
(2, 3)  0.529488  0.507179  0.573952  0.535990  0.502786  0.538778
(3, 1)  0.565604  0.550471  0.535541  0.623358  0.662684  0.601438
(4, 1)  0.404015  0.402012  0.421983  0.428008  0.421478  0.438024
(5, 3)  0.535222  0.565465  0.567172  0.641005  0.636547  0.652813
(6, 2)  0.603168  0.565365  0.676530  0.570385  0.671876  0.656272

In [16]:
shamRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.502099  0.530520  0.527365  0.540589  0.532894  0.549499
(2, 2)  0.502099  0.530520  0.527365  0.540589  0.532894  0.549499
(3, 3)  0.488148  0.476792  0.521522  0.535498  0.502181  0.539930
(3, 3)  0.488148  0.476792  0.521522  0.535498  0.502181  0.539930
(4, 2)  0.396134  0.399651  0.387342  0.419394  0.395956  0.374930
(4, 2)  0.396134  0.399651  0.387342  0.419394  0.395956  0.374930
(5, 1)  0.558201  0.569584  0.664133  0.665533  0.608449  0.675963
(5, 1)  0.558201  0.569584  0.664133  0.665533  0.608449  0.675963
(6, 1)  0.545075  0.578987  0.530291  0.554954  0.611154  0.539162
(6, 1)  0.545075  0.578987  0.530291  0.554954  0.611154  0.539162

In [33]:
contradPrimeChart - ipsidPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.820593 -1.225771 -1.548720  1.034058 -0.321252  0.597378
(3, 2)  0.324975 -1.244274 -1.746938  0.228433  0.237586 -0.718205
(4, 3)  0.000000 -1.858714 -1.016941 -0.381289  0.380857 -0.381000
(5, 2)  1.135099 -2.326793 -1.972243 -0.728021  0.954465  0.215821
(6, 3)  0.247486 -0.939019 -1.691431 -0.462765  0.227934 -0.240761
(2, 3) -0.322949  2.613369  2.034685  1.045344  0.000000  0.272403
(3, 1) -0.789687  0.718205  2.608317 -0.897293  0.337033 -0.335963
(4, 1)  0.000000  2.089564  2.083903  0.818177  1.132896  0.000000
(5, 3)  0.761655  1.957075  2.446086  0.524338  0.674490  1.303905
(6, 2) -0.690700  1.412028  2.029563  1.006688  0.456367  0.501567

In [34]:
shamdPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.497441  2.830153  2.501542  1.317874  1.698872  2.144415
(2, 2)  1.223012  0.430727  0.488776  1.639126  1.375923  1.105217
(3, 3)  0.807416  1.456198  1.641911  1.060233  0.831800  1.230370
(3, 3)  2.346338  0.741594  0.674490  1.300994  1.561636  0.993129
(4, 2)  2.236827  2.181371  2.126879  1.638754  1.586366  1.967365
(4, 2)  2.236827  1.044457  0.052677  1.202595  1.967365  1.586366
(5, 1)  2.181371  2.208610  2.082643  2.082643  0.531406  0.318639
(5, 1)  2.181371  0.264147  0.582786  0.807416  0.749367  0.541022
(6, 1)  1.774293  1.468989  1.468989  1.576801  0.565696  0.661573
(6, 1)  0.548522  0.493578  0.252818  0.067104  1.100851  0.939522

In [35]:
ipsidPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.360778  1.774293  2.037496  1.048585  1.639126  1.163266
(3, 2)  1.435669  1.854568  1.932651  0.831800  0.887147  1.373112
(4, 3)  2.126879  2.020043  1.691431  2.020043  1.534121  1.810487
(5, 2)  0.991780  2.537222  2.346338  1.151294  0.421458  0.421458
(6, 3)  1.037299  1.124732  1.691431  1.230370  0.741594  1.300994
(2, 3)  1.698872  0.216785  0.170137  1.163266  1.163266  1.163266
(3, 1)  2.124012  0.654907  0.096036  1.456164  0.699944  1.051073
(4, 1)  2.181371  0.261944  0.209556  1.254983  0.887147  1.376810
(5, 3)  1.261242  0.318639  0.055456  1.037299  0.488776  0.588038
(6, 2)  1.300994  0.229883 -0.338132  0.767605  0.674490  0.648782

In [20]:
contraKCondMeans = []
contraKNameArray = ["contra-K Mean"]
ipsiKCondMeans = []
ipsiKNameArray = ["ipsi-K Mean"]
shamKCondMeans = []
shamKNameArray = ["sham-K Mean"]
contraRTCondMeans = []
contraRTNameArray = ["contra-RT Mean"]
ipsiRTCondMeans = []
ipsiRTNameArray = ["ipsi-RT Mean"]
shamRTCondMeans = []
shamRTNameArray = ["sham-RT Mean"]
contradPrimeCondMeans = []
contradPrimeNameArray = ["contra-dPrime Mean"]
ipsidPrimeCondMeans = []
ipsidPrimeNameArray = ["ipsi-dPrime Mean"]
shamdPrimeCondMeans = []
shamdPrimeNameArray = ["sham-dPrime Mean"]

for key in HFconds:
    contraKCondMeans.append(contraKchart[key].mean())
    ipsiKCondMeans.append(ipsiKchart[key].mean())
    shamKCondMeans.append(shamKchart[key].mean())
    contraRTCondMeans.append(contraRTchart[key].mean())
    ipsiRTCondMeans.append(ipsiRTchart[key].mean())
    shamRTCondMeans.append(shamRTchart[key].mean())
    contradPrimeCondMeans.append(contradPrimeChart[key].mean())
    ipsidPrimeCondMeans.append(ipsidPrimeChart[key].mean())
    shamdPrimeCondMeans.append(shamdPrimeChart[key].mean())
 
contraKCondMeanChart = pd.DataFrame(contraKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
ipsiKCondMeanChart = pd.DataFrame(ipsiKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
shamKCondMeanChart = pd.DataFrame(shamKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
contraRTCondMeanChart = pd.DataFrame(contraRTCondMeans, index=HFconds.keys(), columns = contraRTNameArray)
ipsiRTCondMeanChart = pd.DataFrame(ipsiRTCondMeans, index=HFconds.keys(), columns = ipsiRTNameArray)
shamRTCondMeanChart = pd.DataFrame(shamRTCondMeans, index=HFconds.keys(), columns = shamRTNameArray)
contradPrimeCondMeanChart = pd.DataFrame(contradPrimeCondMeans, index=HFconds.keys(), columns = contradPrimeNameArray)
ipsidPrimeCondMeanChart = pd.DataFrame(ipsidPrimeCondMeans, index=HFconds.keys(), columns = ipsidPrimeNameArray)
shamdPrimeCondMeanChart = pd.DataFrame(shamdPrimeCondMeans, index=HFconds.keys(), columns = shamdPrimeNameArray)

In [21]:
contraKCondMeanChart

      contra-K Mean
t1d0       0.814604
t1d1       0.515735
t1d2       0.539386
t2d0       1.339118
t2d1       1.310402
t2d2       1.211664

In [22]:
ipsiKCondMeanChart

      contra-K Mean
t1d0       0.778124
t1d1       0.494769
t1d2       0.415076
t2d0       1.249672
t2d1       0.974622
t2d2       1.121144

In [23]:
shamKCondMeanChart

      contra-K Mean
t1d0       0.782886
t1d1       0.576405
t1d2       0.524713
t2d0       1.264102
t2d1       1.173414
t2d2       1.136098

In [24]:
contraRTCondMeanChart

      contra-RT Mean
t1d0        0.514487
t1d1        0.513054
t1d2        0.548852
t2d0        0.547758
t2d1        0.561182
t2d2        0.565136

In [25]:
ipsiRTCondMeanChart

      ipsi-RT Mean
t1d0      0.514487
t1d1      0.513054
t1d2      0.548852
t2d0      0.547758
t2d1      0.561182
t2d2      0.565136

In [26]:
shamRTCondMeanChart

      sham-RT Mean
t1d0      0.497931
t1d1      0.511107
t1d2      0.526131
t2d0      0.543193
t2d1      0.530127
t2d2      0.535897

In [27]:
contradPrimeCondMeanChart

      contra-dPrime Mean
t1d0            1.700537
t1d1            1.218869
t1d2            1.311868
t2d0            1.414908
t2d1            1.321744
t2d2            1.211243

In [28]:
ipsidPrimeCondMeanChart

      ipsi-dPrime Mean
t1d0          1.551889
t1d1          1.099302
t1d2          0.989240
t2d0          1.196141
t2d1          0.913707
t2d2          1.089729

In [29]:
shamdPrimeCondMeanChart

      sham-dPrime Mean
t1d0          1.703342
t1d1          1.311983
t1d2          1.187351
t2d0          1.269354
t2d1          1.196928
t2d2          1.148762

In [57]:
import re
saveDirectory = dataDirectory + 's' + str(2) + os.sep + 'runData/'
directoryFiles = os.listdir(saveDirectory)
csv = ''
for file in directoryFiles:
    match = re.match('run' + str(1) + '.*', file, re.M|re.I)
    if match != None:
        csv = match.group()

In [58]:
csv

'run1_2016_Jul_27_1158.csv'