In [30]:
import sys
sys.dont_write_bytecode = True
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from dataMethods import *
from collections import OrderedDict

In [31]:
import os
from os.path import expanduser

In [32]:
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'

In [33]:
lstimDataSheets = [dataDirectory + 's2/runData/run1_2016_Jul_27_1158.csv', dataDirectory + 's3/runData/run2_2016_Jul_27_1445.csv', dataDirectory + 's4/runData/run3_2016_Jul_27_1718.csv']

In [34]:
rstimDataSheets = [dataDirectory + 's2/runData/run3_2016_Jul_27_1251.csv', dataDirectory + 's3/runData/run1_2016_Jul_27_1418.csv', dataDirectory + 's4/runData/run1_2016_Jul_27_1629.csv']

In [35]:
shamDataSheets = [dataDirectory + 's2/runData/run2_2016_Jul_27_1223.csv', dataDirectory + 's3/runData/run3_2016_Jul_27_1510.csv', dataDirectory + 's4/runData/run2_2016_Jul_27_1654.csv']

In [36]:
stimTestRuns = [(2,1),(3,2),(4,3),(2,3),(3,1),(4,1)]

In [37]:
shamTestRuns = [(2,2),(2,2),(3,3),(3,3),(4,2),(4,2)]

In [38]:
HFconds = OrderedDict([('t1d0', (1, 0)), ('t1d1', (1, 1)), ('t1d2', (1, 2)), ('t2d0', (2, 0)), ('t2d1', (2, 1)), ('t2d2', (2, 2))])

In [39]:
contraKvals = []
ipsiKvals = []
shamKvals = []
contraHitRates = []
ipsiHitRates = []
shamHitRates = []
contraRTs = []
ipsiRTs = []
shamRTs = []
contradPrimes = []
ipsidPrimes = []
shamdPrimes = []

for sheet in lstimDataSheets:
    ipsiKvals.append(pashlerK(sheet, 'left')['Kvals'])
    contraKvals.append(pashlerK(sheet, 'right')['Kvals'])
    ipsiHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    contraHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    ipsiRTs.append(rtCalc(sheet, 'left'))
    contraRTs.append(rtCalc(sheet, 'right'))
    ipsidPrimes.append(dprime(sheet, 'left'))
    contradPrimes.append(dprime(sheet, 'right'))
for sheet in rstimDataSheets:
    contraKvals.append(pashlerK(sheet, 'left')['Kvals'])
    ipsiKvals.append(pashlerK(sheet, 'right')['Kvals'])
    contraHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    ipsiHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    contraRTs.append(rtCalc(sheet, 'left'))
    ipsiRTs.append(rtCalc(sheet, 'right'))
    contradPrimes.append(dprime(sheet, 'left'))
    ipsidPrimes.append(dprime(sheet, 'right'))
for sheet in shamDataSheets:
    shamKvals.append(pashlerK(sheet, 'left')['Kvals'])
    shamKvals.append(pashlerK(sheet, 'right')['Kvals'])
    shamHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    shamHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    shamRTs.append(rtCalc(sheet, 'left'))
    shamRTs.append(rtCalc(sheet, 'right'))
    shamdPrimes.append(dprime(sheet, 'left'))
    shamdPrimes.append(dprime(sheet, 'right'))
    
contraKchart = pd.DataFrame(contraKvals, index=stimTestRuns, columns=HFconds.keys())
ipsiKchart = pd.DataFrame(ipsiKvals, index=stimTestRuns, columns=HFconds.keys())
shamKchart = pd.DataFrame(shamKvals, index=shamTestRuns, columns=HFconds.keys())
contraHitRateChart = pd.DataFrame(contraHitRates, index=stimTestRuns, columns=HFconds.keys())
ipsiHitRateChart = pd.DataFrame(ipsiHitRates, index=stimTestRuns, columns=HFconds.keys())
shamHitRateChart = pd.DataFrame(shamHitRates, index=shamTestRuns, columns=HFconds.keys())
contraRTchart = pd.DataFrame(contraRTs, index=stimTestRuns, columns=HFconds.keys())
ipsiRTchart = pd.DataFrame(ipsiRTs, index=stimTestRuns, columns=HFconds.keys())
shamRTchart = pd.DataFrame(shamRTs, index=shamTestRuns, columns=HFconds.keys())
contradPrimeChart = pd.DataFrame(contradPrimes, index=stimTestRuns, columns=HFconds.keys())
ipsidPrimeChart = pd.DataFrame(ipsidPrimes, index=stimTestRuns, columns=HFconds.keys())
shamdPrimeChart = pd.DataFrame(shamdPrimes, index=shamTestRuns, columns=HFconds.keys())

In [40]:
contraKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  2.000000  0.588235  0.545455  3.647059  2.875000  3.314286
(3, 2)  1.657143  0.628571  0.166667  2.054054  1.900000  1.157895
(4, 3)  2.000000  0.285714  1.000000  3.538462  4.000000  3.454545
(2, 3)  1.454545  2.000000  1.707317  3.666667  2.545455  2.941176
(3, 1)  1.419355  1.121951  2.000000  0.968421  1.750427  1.217105
(4, 1)  2.000000  2.000000  2.000000  4.000000  4.000000  3.428571

In [41]:
ipsiKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.571429  1.538462  1.692308  2.451613  3.272727  2.545455
(3, 2)  1.470588  1.550000  1.441860  1.666667  1.538462  2.243902
(4, 3)  2.000000  2.000000  1.777778  4.000000  3.500000  4.000000
(2, 3)  1.647059  0.258065  0.181818  2.545455  2.545455  2.545455
(3, 1)  1.818182  0.578947  0.125000  2.280488  1.202703  1.760000
(4, 1)  2.000000  0.384615  0.320000  3.076923  2.500000  3.428571

In [42]:
shamKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.485714  2.000000  1.850000  2.875000  3.294118  3.657143
(2, 2)  1.294118  0.500000  0.545455  3.272727  2.909091  2.500000
(3, 3)  0.909091  1.250000  1.400000  2.054054  1.666667  2.378378
(3, 3)  1.842105  0.702703  0.666667  2.421053  2.769231  2.000000
(4, 2)  2.000000  2.000000  2.000000  3.538462  3.520000  4.000000
(4, 2)  2.000000  1.333333  0.090909  3.040000  4.000000  3.520000

In [43]:
contraRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.549395  0.476365  0.530627  0.522523  0.615508  0.556134
(3, 2)  0.501507  0.497227  0.471510  0.522980  0.531766  0.530065
(4, 3)  0.360777  0.369664  0.387509  0.403553  0.365884  0.411343
(2, 3)  0.533409  0.513897  0.616967  0.525848  0.500040  0.564294
(3, 1)  0.593255  0.556508  0.548361  0.562540  0.661932  0.599065
(4, 1)  0.392025  0.396121  0.417963  0.442011  0.414936  0.416871

In [44]:
ipsiRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.538306  0.507774  0.571573  0.569511  0.496595  0.533248
(3, 2)  0.516880  0.482182  0.550073  0.512474  0.582809  0.554728
(4, 3)  0.373224  0.352881  0.365770  0.379487  0.364753  0.356567
(2, 3)  0.525848  0.491824  0.473583  0.548667  0.505532  0.511135
(3, 1)  0.541903  0.541846  0.506238  0.659849  0.663544  0.603514
(4, 1)  0.416005  0.412483  0.429129  0.412005  0.429529  0.459177

In [45]:
shamRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.507864  0.550413  0.542378  0.575128  0.533554  0.552483
(2, 2)  0.495854  0.482208  0.499217  0.508517  0.532185  0.545768
(3, 3)  0.493098  0.472535  0.533467  0.511330  0.523633  0.547597
(3, 3)  0.484848  0.482644  0.503605  0.557469  0.486092  0.531496
(4, 2)  0.362774  0.383773  0.369028  0.389512  0.378034  0.378323
(4, 2)  0.429494  0.425633  0.419902  0.451410  0.412757  0.371311

In [46]:
contradPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  2.181371  0.548522  0.488776  2.082643  1.317874  1.760644
(3, 2)  1.760644  0.610295  0.185713  1.060233  1.124732  0.654907
(4, 3)  2.126879  0.161329  0.674490  1.638754  1.914977  1.429487
(2, 3)  1.375923  2.830153  2.204822  2.208610  1.163266  1.435669
(3, 1)  1.334325  1.373112  2.704353  0.558871  1.036977  0.715110
(4, 1)  2.181371  2.351508  2.293459  2.073160  2.020043  1.376810

In [47]:
ipsidPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.360778  1.774293  2.037496  1.048585  1.639126  1.163266
(3, 2)  1.435669  1.854568  1.932651  0.831800  0.887147  1.373112
(4, 3)  2.126879  2.020043  1.691431  2.020043  1.534121  1.810487
(2, 3)  1.698872  0.216785  0.170137  1.163266  1.163266  1.163266
(3, 1)  2.124012  0.654907  0.096036  1.456164  0.699944  1.051073
(4, 1)  2.181371  0.261944  0.209556  1.254983  0.887147  1.376810

In [48]:
shamdPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.497441  2.830153  2.501542  1.317874  1.698872  2.144415
(2, 2)  1.223012  0.430727  0.488776  1.639126  1.375923  1.105217
(3, 3)  0.807416  1.456198  1.641911  1.060233  0.831800  1.230370
(3, 3)  2.346338  0.741594  0.674490  1.300994  1.561636  0.993129
(4, 2)  2.236827  2.181371  2.126879  1.638754  1.586366  1.967365
(4, 2)  2.236827  1.044457  0.052677  1.202595  1.967365  1.586366

In [49]:
contraKCondMeans = []
contraKNameArray = ["contra-K Mean"]
ipsiKCondMeans = []
ipsiKNameArray = ["ipsi-K Mean"]
shamKCondMeans = []
shamKNameArray = ["sham-K Mean"]
contraRTCondMeans = []
contraRTNameArray = ["contra-RT Mean"]
ipsiRTCondMeans = []
ipsiRTNameArray = ["ipsi-RT Mean"]
shamRTCondMeans = []
shamRTNameArray = ["sham-RT Mean"]
contradPrimeCondMeans = []
contradPrimeNameArray = ["contra-dPrime Mean"]
ipsidPrimeCondMeans = []
ipsidPrimeNameArray = ["ipsi-dPrime Mean"]
shamdPrimeCondMeans = []
shamdPrimeNameArray = ["sham-dPrime Mean"]

for key in HFconds:
    contraKCondMeans.append(contraKchart[key].mean())
    ipsiKCondMeans.append(ipsiKchart[key].mean())
    shamKCondMeans.append(shamKchart[key].mean())
    contraRTCondMeans.append(contraRTchart[key].mean())
    ipsiRTCondMeans.append(ipsiRTchart[key].mean())
    shamRTCondMeans.append(shamRTchart[key].mean())
    contradPrimeCondMeans.append(contradPrimeChart[key].mean())
    ipsidPrimeCondMeans.append(ipsidPrimeChart[key].mean())
    shamdPrimeCondMeans.append(shamdPrimeChart[key].mean())
 
contraKCondMeanChart = pd.DataFrame(contraKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
ipsiKCondMeanChart = pd.DataFrame(ipsiKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
shamKCondMeanChart = pd.DataFrame(shamKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
contraRTCondMeanChart = pd.DataFrame(contraRTCondMeans, index=HFconds.keys(), columns = contraRTNameArray)
ipsiRTCondMeanChart = pd.DataFrame(ipsiRTCondMeans, index=HFconds.keys(), columns = ipsiRTNameArray)
shamRTCondMeanChart = pd.DataFrame(shamRTCondMeans, index=HFconds.keys(), columns = shamRTNameArray)
contradPrimeCondMeanChart = pd.DataFrame(contradPrimeCondMeans, index=HFconds.keys(), columns = contradPrimeNameArray)
ipsidPrimeCondMeanChart = pd.DataFrame(ipsidPrimeCondMeans, index=HFconds.keys(), columns = ipsidPrimeNameArray)
shamdPrimeCondMeanChart = pd.DataFrame(shamdPrimeCondMeans, index=HFconds.keys(), columns = shamdPrimeNameArray)

In [50]:
contraKCondMeanChart

      contra-K Mean
t1d0       1.755174
t1d1       1.104079
t1d2       1.236573
t2d0       2.979110
t2d1       2.845147
t2d2       2.585597

In [51]:
ipsiKCondMeanChart

      contra-K Mean
t1d0       1.751210
t1d1       1.051681
t1d2       0.923127
t2d0       2.670191
t2d1       2.426558
t2d2       2.753897

In [52]:
shamKCondMeanChart

      contra-K Mean
t1d0       1.588505
t1d1       1.297673
t1d2       1.092172
t2d0       2.866883
t2d1       3.026518
t2d2       3.009254

In [53]:
contraRTCondMeanChart

      contra-RT Mean
t1d0        0.488395
t1d1        0.468297
t1d2        0.495490
t2d0        0.496576
t2d1        0.515011
t2d2        0.512962

In [54]:
ipsiRTCondMeanChart

      ipsi-RT Mean
t1d0      0.485361
t1d1      0.464832
t1d2      0.482728
t2d0      0.513665
t2d1      0.507127
t2d2      0.503062

In [55]:
shamRTCondMeanChart

      sham-RT Mean
t1d0      0.462322
t1d1      0.466201
t1d2      0.477933
t2d0      0.498894
t2d1      0.477709
t2d2      0.487830

In [56]:
contradPrimeCondMeanChart

      contra-dPrime Mean
t1d0            1.826752
t1d1            1.312487
t1d2            1.425269
t2d0            1.603712
t2d1            1.429645
t2d2            1.228771

In [57]:
ipsidPrimeCondMeanChart

      ipsi-dPrime Mean
t1d0          1.821263
t1d1          1.130423
t1d2          1.022885
t2d0          1.295807
t2d1          1.135125
t2d2          1.323002

In [58]:
shamdPrimeCondMeanChart

      sham-dPrime Mean
t1d0          1.724644
t1d1          1.447417
t1d2          1.247713
t2d0          1.359929
t2d1          1.503660
t2d2          1.504477