In [1]:
import sys
sys.dont_write_bytecode = True
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from dataMethods import *
from collections import OrderedDict

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

In [2]:
import os
from os.path import expanduser

In [3]:
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'

In [4]:
lstimDataSheets = [dataDirectory + 's2/runData/run1_2016_Jul_27_1158.csv', dataDirectory + 's3/runData/run2_2016_Jul_27_1445.csv', dataDirectory + 's4/runData/run3_2016_Jul_27_1718.csv', dataDirectory + 's5/runData/run2_2016_Aug_01_1225.csv', dataDirectory + 's6/runData/run3_2016_Aug_01_1449.csv']

In [5]:
rstimDataSheets = [dataDirectory + 's2/runData/run3_2016_Jul_27_1251.csv', dataDirectory + 's3/runData/run1_2016_Jul_27_1418.csv', dataDirectory + 's4/runData/run1_2016_Jul_27_1629.csv', dataDirectory + 's5/runData/run3_2016_Aug_01_1249.csv', dataDirectory + 's6/runData/run2_2016_Aug_01_1424.csv']

In [6]:
shamDataSheets = [dataDirectory + 's2/runData/run2_2016_Jul_27_1223.csv', dataDirectory + 's3/runData/run3_2016_Jul_27_1510.csv', dataDirectory + 's4/runData/run2_2016_Jul_27_1654.csv', dataDirectory + 's5/runData/run1_2016_Aug_01_1200.csv', dataDirectory + 's6/runData/run1_2016_Aug_01_1400.csv']

In [7]:
stimTestRuns = [(2,1),(3,2),(4,3),(5,2),(6,3),(2,3),(3,1),(4,1),(5,3),(6,2)]

In [8]:
shamTestRuns = [(2,2),(2,2),(3,3),(3,3),(4,2),(4,2),(5,1),(5,1),(6,1),(6,1)]

In [9]:
HFconds = OrderedDict([('t1d0', (1, 0)), ('t1d1', (1, 1)), ('t1d2', (1, 2)), ('t2d0', (2, 0)), ('t2d1', (2, 1)), ('t2d2', (2, 2))])

In [10]:
contraKvals = []
ipsiKvals = []
shamKvals = []
contraHitRates = []
ipsiHitRates = []
shamHitRates = []
contraRTs = []
ipsiRTs = []
shamRTs = []
contradPrimes = []
ipsidPrimes = []
shamdPrimes = []

for sheet in lstimDataSheets:
    ipsiKvals.append(pashlerK(sheet, 'left')['Kvals'])
    contraKvals.append(pashlerK(sheet, 'right')['Kvals'])
    ipsiHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    contraHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    ipsiRTs.append(rtCalc(sheet, 'left'))
    contraRTs.append(rtCalc(sheet, 'right'))
    ipsidPrimes.append(dprime(sheet, 'left'))
    contradPrimes.append(dprime(sheet, 'right'))
for sheet in rstimDataSheets:
    contraKvals.append(pashlerK(sheet, 'left')['Kvals'])
    ipsiKvals.append(pashlerK(sheet, 'right')['Kvals'])
    contraHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    ipsiHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    contraRTs.append(rtCalc(sheet, 'left'))
    ipsiRTs.append(rtCalc(sheet, 'right'))
    contradPrimes.append(dprime(sheet, 'left'))
    ipsidPrimes.append(dprime(sheet, 'right'))
for sheet in shamDataSheets:
    shamKvals.append(pashlerK(sheet, 'left')['Kvals'])
    shamKvals.append(pashlerK(sheet, 'right')['Kvals'])
    shamHitRates.append(pashlerK(sheet, 'left')['hitRates'])
    shamHitRates.append(pashlerK(sheet, 'right')['hitRates'])
    shamRTs.append(rtCalc(sheet, 'left'))
    shamRTs.append(rtCalc(sheet, 'right'))
    shamdPrimes.append(dprime(sheet, 'left'))
    shamdPrimes.append(dprime(sheet, 'right'))
    
contraKchart = pd.DataFrame(contraKvals, index=stimTestRuns, columns=HFconds.keys())
ipsiKchart = pd.DataFrame(ipsiKvals, index=stimTestRuns, columns=HFconds.keys())
shamKchart = pd.DataFrame(shamKvals, index=shamTestRuns, columns=HFconds.keys())
contraHitRateChart = pd.DataFrame(contraHitRates, index=stimTestRuns, columns=HFconds.keys())
ipsiHitRateChart = pd.DataFrame(ipsiHitRates, index=stimTestRuns, columns=HFconds.keys())
shamHitRateChart = pd.DataFrame(shamHitRates, index=shamTestRuns, columns=HFconds.keys())
contraRTchart = pd.DataFrame(contraRTs, index=stimTestRuns, columns=HFconds.keys())
ipsiRTchart = pd.DataFrame(ipsiRTs, index=stimTestRuns, columns=HFconds.keys())
shamRTchart = pd.DataFrame(shamRTs, index=shamTestRuns, columns=HFconds.keys())
contradPrimeChart = pd.DataFrame(contradPrimes, index=stimTestRuns, columns=HFconds.keys())
ipsidPrimeChart = pd.DataFrame(ipsidPrimes, index=stimTestRuns, columns=HFconds.keys())
shamdPrimeChart = pd.DataFrame(shamdPrimes, index=shamTestRuns, columns=HFconds.keys())

In [11]:
contraKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  2.000000  0.588235  0.545455  3.647059  2.875000  3.314286
(3, 2)  1.657143  0.628571  0.166667  2.054054  1.900000  1.157895
(4, 3)  2.000000  0.285714  1.000000  3.538462  4.000000  3.454545
(5, 2)  2.000000  0.285714  0.451613  1.230769  2.909091  1.600000
(6, 3)  1.314286  0.166667  0.000000  1.600000  1.789474  2.054054
(2, 3)  1.454545  2.000000  1.707317  3.666667  2.545455  2.941176
(3, 1)  1.419355  1.121951  2.000000  0.968421  1.750427  1.217105
(4, 1)  2.000000  2.000000  2.000000  4.000000  4.000000  3.428571
(5, 3)  1.818182  1.837838  1.850000  3.000000  2.333333  3.351351
(6, 2)  0.628571  1.400000  1.066667  3.076923  2.105263  1.714286

In [12]:
ipsiKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.571429  1.538462  1.692308  2.451613  3.272727  2.545455
(3, 2)  1.470588  1.550000  1.441860  1.666667  1.538462  2.243902
(4, 3)  2.000000  2.000000  1.777778  4.000000  3.500000  4.000000
(5, 2)  1.307692  2.000000  1.842105  2.758621  1.103448  1.103448
(6, 3)  1.117647  0.950000  1.066667  2.378378  1.405405  2.421053
(2, 3)  1.647059  0.258065  0.181818  2.545455  2.545455  2.545455
(3, 1)  1.818182  0.578947  0.125000  2.280488  1.202703  1.760000
(4, 1)  2.000000  0.384615  0.320000  3.076923  2.500000  3.428571
(5, 3)  1.419355  0.400000  0.064516  2.235294  1.090909  1.375000
(6, 2)  1.210526  0.235294 -0.210526  1.600000  1.333333  1.000000

In [13]:
shamKchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.485714  2.000000  1.850000  2.875000  3.294118  3.657143
(2, 2)  1.294118  0.500000  0.545455  3.272727  2.909091  2.500000
(3, 3)  0.909091  1.250000  1.400000  2.054054  1.666667  2.378378
(3, 3)  1.842105  0.702703  0.666667  2.421053  2.769231  2.000000
(4, 2)  2.000000  2.000000  2.000000  3.538462  3.520000  4.000000
(4, 2)  2.000000  1.333333  0.090909  3.040000  4.000000  3.520000
(5, 1)  2.000000  1.833333  1.823529  3.647059  1.290323  1.000000
(5, 1)  2.000000  0.344828  0.758621  2.000000  1.750000  1.600000
(6, 1)  1.538462  1.142857  1.142857  2.325581  0.780488  0.857143
(6, 1)  0.588235  0.421053  0.216216  0.108108  1.488372  1.209302

In [14]:
contraRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.549395  0.476365  0.530627  0.522523  0.615508  0.556134
(3, 2)  0.501507  0.497227  0.471510  0.522980  0.531766  0.530065
(4, 3)  0.360777  0.369664  0.387509  0.403553  0.365884  0.411343
(5, 2)  0.557599  0.620888  0.559650  0.564512  0.643659  0.599522
(6, 3)  0.556947  0.598118  0.590305  0.613461  0.554980  0.678094
(2, 3)  0.533409  0.513897  0.616967  0.525848  0.500040  0.564294
(3, 1)  0.593255  0.556508  0.548361  0.562540  0.661932  0.599065
(4, 1)  0.392025  0.396121  0.417963  0.442011  0.414936  0.416871
(5, 3)  0.544616  0.576941  0.575735  0.651425  0.651483  0.679992
(6, 2)  0.678510  0.573719  0.683914  0.538535  0.663117  0.568089

In [15]:
ipsiRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.538306  0.507774  0.571573  0.569511  0.496595  0.533248
(3, 2)  0.516880  0.482182  0.550073  0.512474  0.582809  0.554728
(4, 3)  0.373224  0.352881  0.365770  0.379487  0.364753  0.356567
(5, 2)  0.533421  0.590290  0.574718  0.641164  0.764521  0.690364
(6, 3)  0.522530  0.599572  0.716277  0.622549  0.540952  0.621143
(2, 3)  0.525848  0.491824  0.473583  0.548667  0.505532  0.511135
(3, 1)  0.541903  0.541846  0.506238  0.659849  0.663544  0.603514
(4, 1)  0.416005  0.412483  0.429129  0.412005  0.429529  0.459177
(5, 3)  0.524382  0.543946  0.545764  0.628691  0.616010  0.610536
(6, 2)  0.548373  0.548656  0.643303  0.616391  0.682825  0.773849

In [16]:
shamRTchart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.507864  0.550413  0.542378  0.575128  0.533554  0.552483
(2, 2)  0.495854  0.482208  0.499217  0.508517  0.532185  0.545768
(3, 3)  0.493098  0.472535  0.533467  0.511330  0.523633  0.547597
(3, 3)  0.484848  0.482644  0.503605  0.557469  0.486092  0.531496
(4, 2)  0.362774  0.383773  0.369028  0.389512  0.378034  0.378323
(4, 2)  0.429494  0.425633  0.419902  0.451410  0.412757  0.371311
(5, 1)  0.532674  0.578556  0.697038  0.687061  0.627313  0.644646
(5, 1)  0.583729  0.549077  0.614774  0.636176  0.591472  0.704432
(6, 1)  0.556555  0.566387  0.546412  0.534712  0.528075  0.454367
(6, 1)  0.526419  0.599987  0.498049  0.605558  0.670496  0.609825

In [17]:
contradPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  2.181371  0.548522  0.488776  2.082643  1.317874  1.760644
(3, 2)  1.760644  0.610295  0.185713  1.060233  1.124732  0.654907
(4, 3)  2.126879  0.161329  0.674490  1.638754  1.914977  1.429487
(5, 2)  2.126879  0.210428  0.374095  0.423273  1.375923  0.637279
(6, 3)  1.284784  0.185713  0.000000  0.767605  0.969528  1.060233
(2, 3)  1.375923  2.830153  2.204822  2.208610  1.163266  1.435669
(3, 1)  1.334325  1.373112  2.704353  0.558871  1.036977  0.715110
(4, 1)  2.181371  2.351508  2.293459  2.073160  2.020043  1.376810
(5, 3)  2.022897  2.275715  2.501542  1.561636  1.163266  1.891943
(6, 2)  0.610295  1.641911  1.691431  1.774293  1.130857  1.150349

In [18]:
ipsidPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.360778  1.774293  2.037496  1.048585  1.639126  1.163266
(3, 2)  1.435669  1.854568  1.932651  0.831800  0.887147  1.373112
(4, 3)  2.126879  2.020043  1.691431  2.020043  1.534121  1.810487
(5, 2)  0.991780  2.537222  2.346338  1.151294  0.421458  0.421458
(6, 3)  1.037299  1.124732  1.691431  1.230370  0.741594  1.300994
(2, 3)  1.698872  0.216785  0.170137  1.163266  1.163266  1.163266
(3, 1)  2.124012  0.654907  0.096036  1.456164  0.699944  1.051073
(4, 1)  2.181371  0.261944  0.209556  1.254983  0.887147  1.376810
(5, 3)  1.261242  0.318639  0.055456  1.037299  0.488776  0.588038
(6, 2)  1.300994  0.229883 -0.338132  0.767605  0.674490  0.648782

In [19]:
shamdPrimeChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.497441  2.830153  2.501542  1.317874  1.698872  2.144415
(2, 2)  1.223012  0.430727  0.488776  1.639126  1.375923  1.105217
(3, 3)  0.807416  1.456198  1.641911  1.060233  0.831800  1.230370
(3, 3)  2.346338  0.741594  0.674490  1.300994  1.561636  0.993129
(4, 2)  2.236827  2.181371  2.126879  1.638754  1.586366  1.967365
(4, 2)  2.236827  1.044457  0.052677  1.202595  1.967365  1.586366
(5, 1)  2.181371  2.208610  2.082643  2.082643  0.531406  0.318639
(5, 1)  2.181371  0.264147  0.582786  0.807416  0.749367  0.541022
(6, 1)  1.774293  1.468989  1.468989  1.576801  0.565696  0.661573
(6, 1)  0.548522  0.493578  0.252818  0.067104  1.100851  0.939522

In [20]:
contraKCondMeans = []
contraKNameArray = ["contra-K Mean"]
ipsiKCondMeans = []
ipsiKNameArray = ["ipsi-K Mean"]
shamKCondMeans = []
shamKNameArray = ["sham-K Mean"]
contraRTCondMeans = []
contraRTNameArray = ["contra-RT Mean"]
ipsiRTCondMeans = []
ipsiRTNameArray = ["ipsi-RT Mean"]
shamRTCondMeans = []
shamRTNameArray = ["sham-RT Mean"]
contradPrimeCondMeans = []
contradPrimeNameArray = ["contra-dPrime Mean"]
ipsidPrimeCondMeans = []
ipsidPrimeNameArray = ["ipsi-dPrime Mean"]
shamdPrimeCondMeans = []
shamdPrimeNameArray = ["sham-dPrime Mean"]

for key in HFconds:
    contraKCondMeans.append(contraKchart[key].mean())
    ipsiKCondMeans.append(ipsiKchart[key].mean())
    shamKCondMeans.append(shamKchart[key].mean())
    contraRTCondMeans.append(contraRTchart[key].mean())
    ipsiRTCondMeans.append(ipsiRTchart[key].mean())
    shamRTCondMeans.append(shamRTchart[key].mean())
    contradPrimeCondMeans.append(contradPrimeChart[key].mean())
    ipsidPrimeCondMeans.append(ipsidPrimeChart[key].mean())
    shamdPrimeCondMeans.append(shamdPrimeChart[key].mean())
 
contraKCondMeanChart = pd.DataFrame(contraKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
ipsiKCondMeanChart = pd.DataFrame(ipsiKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
shamKCondMeanChart = pd.DataFrame(shamKCondMeans, index=HFconds.keys(), columns = contraKNameArray)
contraRTCondMeanChart = pd.DataFrame(contraRTCondMeans, index=HFconds.keys(), columns = contraRTNameArray)
ipsiRTCondMeanChart = pd.DataFrame(ipsiRTCondMeans, index=HFconds.keys(), columns = ipsiRTNameArray)
shamRTCondMeanChart = pd.DataFrame(shamRTCondMeans, index=HFconds.keys(), columns = shamRTNameArray)
contradPrimeCondMeanChart = pd.DataFrame(contradPrimeCondMeans, index=HFconds.keys(), columns = contradPrimeNameArray)
ipsidPrimeCondMeanChart = pd.DataFrame(ipsidPrimeCondMeans, index=HFconds.keys(), columns = ipsidPrimeNameArray)
shamdPrimeCondMeanChart = pd.DataFrame(shamdPrimeCondMeans, index=HFconds.keys(), columns = shamdPrimeNameArray)

In [21]:
contraKCondMeanChart

      contra-K Mean
t1d0       1.629208
t1d1       1.031469
t1d2       1.078772
t2d0       2.678235
t2d1       2.620804
t2d2       2.423327

In [22]:
ipsiKCondMeanChart

      contra-K Mean
t1d0       1.556248
t1d1       0.989538
t1d2       0.830153
t2d0       2.499344
t2d1       1.949244
t2d2       2.242288

In [23]:
shamKCondMeanChart

      contra-K Mean
t1d0       1.565772
t1d1       1.152811
t1d2       1.049425
t2d0       2.528204
t2d1       2.346829
t2d2       2.272197

In [24]:
contraRTCondMeanChart

      contra-RT Mean
t1d0        0.526804
t1d1        0.517945
t1d2        0.538254
t2d0        0.534739
t2d1        0.560330
t2d2        0.560347

In [25]:
ipsiRTCondMeanChart

      ipsi-RT Mean
t1d0      0.504087
t1d1      0.507145
t1d2      0.537643
t2d0      0.559079
t2d1      0.564707
t2d2      0.571426

In [26]:
shamRTCondMeanChart

      sham-RT Mean
t1d0      0.497331
t1d1      0.509121
t1d2      0.522387
t2d0      0.545687
t2d1      0.528361
t2d2      0.534025

In [27]:
contradPrimeCondMeanChart

      contra-dPrime Mean
t1d0            1.700537
t1d1            1.218869
t1d2            1.311868
t2d0            1.414908
t2d1            1.321744
t2d2            1.211243

In [28]:
ipsidPrimeCondMeanChart

      ipsi-dPrime Mean
t1d0          1.551889
t1d1          1.099302
t1d2          0.989240
t2d0          1.196141
t2d1          0.913707
t2d2          1.089729

In [29]:
shamdPrimeCondMeanChart

      sham-dPrime Mean
t1d0          1.703342
t1d1          1.311983
t1d2          1.187351
t2d0          1.269354
t2d1          1.196928
t2d2          1.148762