In [29]:
import sys
sys.dont_write_bytecode = True
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from collections import OrderedDict
from dataMethods import *
from testRuns import *

In [6]:
lstimLeftHRs = []
lstimRightHRs = []
lstimLeftKs = []
lstimRightKs = []
lstimLeftHitRTs = []
lstimRightHitRTs = []
lstimLeftFaRTs = []
lstimRightFaRTs = []
lstimLeftdPs = []
lstimRightdPs = []

for run in lstimTestRuns:
    stats = extractPerformance(run[0],run[1])
    lHits = stats['lHits']
    rHits = stats['rHits']
    lMisses = stats['lMisses']
    rMisses = stats['rMisses']
    lFAs = stats['lFAs']
    rFAs = stats['rFAs']
    lCRs = stats['lCRs']
    rCRs = stats['rCRs']
    lstimLeftHRs.append(stats['lHRs'])
    lstimRightHRs.append(stats['rHRs'])
    lstimLeftKs.append(stats['lKs'])
    lstimRightKs.append(stats['rKs'])
    lstimLeftHitRTs.append(stats['lHitRTs'])
    lstimRightHitRTs.append(stats['rHitRTs'])
    lstimLeftFaRTs.append(stats['lFaRTs'])
    lstimRightFaRTs.append(stats['rFaRTs'])
    lstimLeftdPs.append(stats['ldPs'])
    lstimRightdPs.append(stats['rdPs'])

lstimLeftHRChart = pd.DataFrame(lstimLeftHRs, index=lstimTestRuns, columns=HFconds.keys())
lstimRightHRChart = pd.DataFrame(lstimRightHRs, index=lstimTestRuns, columns=HFconds.keys())
lstimLeftKChart = pd.DataFrame(lstimLeftKs, index=lstimTestRuns, columns=HFconds.keys())
lstimRightKChart = pd.DataFrame(lstimRightKs, index=lstimTestRuns, columns=HFconds.keys())
lstimLeftHitRTChart = pd.DataFrame(lstimLeftHitRTs, index=lstimTestRuns, columns=HFconds.keys())
lstimRightHitRTChart = pd.DataFrame(lstimRightHitRTs, index=lstimTestRuns, columns=HFconds.keys())
lstimLeftFaRTChart = pd.DataFrame(lstimLeftFaRTs, index=lstimTestRuns, columns=HFconds.keys())
lstimRightFaRTChart = pd.DataFrame(lstimRightFaRTs, index=lstimTestRuns, columns=HFconds.keys())
lstimLeftdPChart = pd.DataFrame(lstimLeftdPs, index=lstimTestRuns, columns=HFconds.keys())
lstimRightdPChart = pd.DataFrame(lstimRightdPs, index=lstimTestRuns, columns=HFconds.keys())

In [7]:
rstimLeftHRs = []
rstimRightHRs = []
rstimLeftKs = []
rstimRightKs = []
rstimLeftHitRTs = []
rstimRightHitRTs = []
rstimLeftFaRTs = []
rstimRightFaRTs = []
rstimLeftdPs = []
rstimRightdPs = []

for run in rstimTestRuns:
    stats = extractPerformance(run[0],run[1])
    lHits = stats['lHits']
    rHits = stats['rHits']
    lMisses = stats['lMisses']
    rMisses = stats['rMisses']
    lFAs = stats['lFAs']
    rFAs = stats['rFAs']
    lCRs = stats['lCRs']
    rCRs = stats['rCRs']
    rstimLeftHRs.append(stats['lHRs'])
    rstimRightHRs.append(stats['rHRs'])
    rstimLeftKs.append(stats['lKs'])
    rstimRightKs.append(stats['rKs'])
    rstimLeftHitRTs.append(stats['lHitRTs'])
    rstimRightHitRTs.append(stats['rHitRTs'])
    rstimLeftFaRTs.append(stats['lFaRTs'])
    rstimRightFaRTs.append(stats['rFaRTs'])
    rstimLeftdPs.append(stats['ldPs'])
    rstimRightdPs.append(stats['rdPs'])
        
rstimLeftHRChart = pd.DataFrame(rstimLeftHRs, index=rstimTestRuns, columns=HFconds.keys())
rstimRightHRChart = pd.DataFrame(rstimRightHRs, index=rstimTestRuns, columns=HFconds.keys())
rstimLeftKChart = pd.DataFrame(rstimLeftKs, index=rstimTestRuns, columns=HFconds.keys())
rstimRightKChart = pd.DataFrame(rstimRightKs, index=rstimTestRuns, columns=HFconds.keys())
rstimLeftHitRTChart = pd.DataFrame(rstimLeftHitRTs, index=rstimTestRuns, columns=HFconds.keys())
rstimRightHitRTChart = pd.DataFrame(rstimRightHitRTs, index=rstimTestRuns, columns=HFconds.keys())
rstimLeftFaRTChart = pd.DataFrame(rstimLeftFaRTs, index=rstimTestRuns, columns=HFconds.keys())
rstimRightFaRTChart = pd.DataFrame(rstimRightFaRTs, index=rstimTestRuns, columns=HFconds.keys())
rstimLeftdPChart = pd.DataFrame(rstimLeftdPs, index=rstimTestRuns, columns=HFconds.keys())
rstimRightdPChart = pd.DataFrame(rstimRightdPs, index=rstimTestRuns, columns=HFconds.keys())

In [8]:
shamLeftHRs = []
shamRightHRs = []
shamLeftKs = []
shamRightKs = []
shamLeftHitRTs = []
shamRightHitRTs = []
shamLeftFaRTs = []
shamRightFaRTs = []
shamLeftdPs = []
shamRightdPs = []

for run in shamTestRuns:
    stats = extractPerformance(run[0],run[1])
    lHits = stats['lHits']
    rHits = stats['rHits']
    lMisses = stats['lMisses']
    rMisses = stats['rMisses']
    lFAs = stats['lFAs']
    rFAs = stats['rFAs']
    lCRs = stats['lCRs']
    rCRs = stats['rCRs']
    shamLeftHRs.append(stats['lHRs'])
    shamRightHRs.append(stats['rHRs'])
    shamLeftKs.append(stats['lKs'])
    shamRightKs.append(stats['rKs'])
    shamLeftHitRTs.append(stats['lHitRTs'])
    shamRightHitRTs.append(stats['rHitRTs'])
    shamLeftFaRTs.append(stats['lFaRTs'])
    shamRightFaRTs.append(stats['rFaRTs'])
    shamLeftdPs.append(stats['ldPs'])
    shamRightdPs.append(stats['rdPs'])
        
shamLeftHRChart = pd.DataFrame(shamLeftHRs, index=shamTestRuns, columns=HFconds.keys())
shamRightHRChart = pd.DataFrame(shamRightHRs, index=shamTestRuns, columns=HFconds.keys())
shamLeftKChart = pd.DataFrame(shamLeftKs, index=shamTestRuns, columns=HFconds.keys())
shamRightKChart = pd.DataFrame(shamRightKs, index=shamTestRuns, columns=HFconds.keys())
shamLeftHitRTChart = pd.DataFrame(shamLeftHitRTs, index=shamTestRuns, columns=HFconds.keys())
shamRightHitRTChart = pd.DataFrame(shamRightHitRTs, index=shamTestRuns, columns=HFconds.keys())
shamLeftFaRTChart = pd.DataFrame(shamLeftFaRTs, index=shamTestRuns, columns=HFconds.keys())
shamRightFaRTChart = pd.DataFrame(shamRightFaRTs, index=shamTestRuns, columns=HFconds.keys())
shamLeftdPChart = pd.DataFrame(shamLeftdPs, index=shamTestRuns, columns=HFconds.keys())
shamRightdPChart = pd.DataFrame(shamRightdPs, index=shamTestRuns, columns=HFconds.keys())

In [9]:
lstimLeftHRChart

          t1d0    t1d1    t1d2    t2d0    t2d1    t2d2
(2, 1)  0.8750  0.8125  0.8750  0.7500  0.8750  0.7500
(3, 2)  0.8125  0.8125  0.7500  0.5625  0.5000  0.6250
(4, 3)  1.0000  1.0000  0.9375  1.0000  0.9375  1.0000
(5, 2)  0.8125  1.0000  0.9375  0.8125  0.5625  0.5625
(6, 3)  0.6875  0.5625  0.5625  0.6875  0.5000  0.6875

In [10]:
lstimRightHRChart

         t1d0    t1d1    t1d2    t2d0    t2d1    t2d2
(2, 1)  1.000  0.5000  0.5000  0.9375  0.8125  0.8750
(3, 2)  0.875  0.5000  0.3125  0.6250  0.5625  0.4375
(4, 3)  1.000  0.6250  0.7500  0.9375  1.0000  0.9375
(5, 2)  1.000  0.5000  0.5000  0.6250  0.8125  0.6250
(6, 3)  0.750  0.3125  0.1875  0.5625  0.5625  0.6250

In [11]:
rstimLeftHRChart

          t1d0    t1d1    t1d2    t2d0      t2d1    t2d2
(2, 3)  0.8125  1.0000  0.8750  0.9375  0.750000  0.8125
(3, 1)  0.8000  0.6250  1.0000  0.4000  0.533333  0.4375
(4, 1)  1.0000  1.0000  1.0000  1.0000  1.000000  0.9375
(5, 3)  0.9375  0.9375  0.9375  0.8125  0.687500  0.8750
(6, 2)  0.5000  0.7500  0.5625  0.8125  0.625000  0.5000

In [12]:
rstimRightHRChart

            t1d0    t1d1    t1d2    t2d0    t2d1      t2d2
(2, 3)  0.875000  0.4375  0.3750  0.7500  0.7500  0.750000
(3, 1)  0.933333  0.4375  0.4375  0.6250  0.4375  0.533333
(4, 1)  1.000000  0.5625  0.5625  0.8750  0.8125  0.937500
(5, 3)  0.812500  0.5000  0.3750  0.6875  0.5000  0.562500
(6, 2)  0.687500  0.3750  0.1250  0.5625  0.5000  0.375000

In [13]:
shamLeftHRChart

          t1d0    t1d1    t1d2    t2d0    t2d1    t2d2
(2, 2)  0.8125  1.0000  0.9375  0.8125  0.8750  0.9375
(3, 3)  0.6250  0.6875  0.7500  0.6250  0.5625  0.6875
(4, 2)  1.0000  1.0000  1.0000  0.9375  0.9375  1.0000
(5, 1)  1.0000  0.9375  0.9375  0.9375  0.5625  0.6250
(6, 1)  0.8125  0.6250  0.6250  0.6250  0.3125  0.3125

In [14]:
shamRightHRChart

          t1d0    t1d1    t1d2    t2d0    t2d1    t2d2
(2, 2)  0.7500  0.5000  0.5000  0.8750  0.8125  0.7500
(3, 3)  0.9375  0.5000  0.5000  0.6875  0.7500  0.6250
(4, 2)  1.0000  0.8125  0.5625  0.8750  1.0000  0.9375
(5, 1)  1.0000  0.5000  0.6250  0.6875  0.6250  0.6875
(6, 1)  0.5000  0.3750  0.3125  0.2500  0.4375  0.3750

In [15]:
lstimLeftKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  0.785714  0.769231  0.846154  1.225806  1.636364  1.272727
(3, 2)  0.735294  0.775000  0.720930  0.833333  0.769231  1.121951
(4, 3)  1.000000  1.000000  0.888889  2.000000  1.750000  2.000000
(5, 2)  0.653846  1.000000  0.921053  1.379310  0.551724  0.551724
(6, 3)  0.558824  0.475000  0.533333  1.189189  0.702703  1.210526

In [16]:
lstimRightKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.000000  0.294118  0.272727  1.823529  1.437500  1.657143
(3, 2)  0.828571  0.314286  0.083333  1.027027  0.950000  0.578947
(4, 3)  1.000000  0.142857  0.500000  1.769231  2.000000  1.727273
(5, 2)  1.000000  0.142857  0.225806  0.615385  1.454545  0.800000
(6, 3)  0.657143  0.083333  0.000000  0.800000  0.894737  1.027027

In [17]:
rstimLeftKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 3)  0.727273  1.000000  0.853659  1.833333  1.272727  1.470588
(3, 1)  0.709677  0.560976  1.000000  0.484211  0.875214  0.608553
(4, 1)  1.000000  1.000000  1.000000  2.000000  2.000000  1.714286
(5, 3)  0.909091  0.918919  0.925000  1.500000  1.166667  1.675676
(6, 2)  0.314286  0.700000  0.533333  1.538462  1.052632  0.857143

In [18]:
rstimRightKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 3)  0.823529  0.129032  0.090909  1.272727  1.272727  1.272727
(3, 1)  0.909091  0.289474  0.062500  1.140244  0.601351  0.880000
(4, 1)  1.000000  0.192308  0.160000  1.538462  1.250000  1.714286
(5, 3)  0.709677  0.200000  0.032258  1.117647  0.545455  0.687500
(6, 2)  0.605263  0.117647 -0.105263  0.800000  0.666667  0.500000

In [19]:
shamLeftKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.742857  1.000000  0.925000  1.437500  1.647059  1.828571
(3, 3)  0.454545  0.625000  0.700000  1.027027  0.833333  1.189189
(4, 2)  1.000000  1.000000  1.000000  1.769231  1.760000  2.000000
(5, 1)  1.000000  0.916667  0.911765  1.823529  0.645161  0.500000
(6, 1)  0.769231  0.571429  0.571429  1.162791  0.390244  0.428571

In [20]:
shamRightKChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  0.647059  0.250000  0.272727  1.636364  1.454545  1.250000
(3, 3)  0.921053  0.351351  0.333333  1.210526  1.384615  1.000000
(4, 2)  1.000000  0.666667  0.045455  1.520000  2.000000  1.760000
(5, 1)  1.000000  0.172414  0.379310  1.000000  0.875000  0.800000
(6, 1)  0.294118  0.210526  0.108108  0.054054  0.744186  0.604651

In [21]:
lstimLeftdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  1.360778  1.774293  2.037496  1.048585  1.639126  1.163266
(3, 2)  1.435669  1.854568  1.932651  0.831800  0.887147  1.373112
(4, 3)  2.126879  2.020043  1.691431  2.020043  1.534121  1.810487
(5, 2)  0.991780  2.537222  2.346338  1.151294  0.421458  0.421458
(6, 3)  1.037299  1.124732  1.691431  1.230370  0.741594  1.300994

In [22]:
lstimRightdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 1)  2.181371  0.548522  0.488776  2.082643  1.317874  1.760644
(3, 2)  1.760644  0.610295  0.185713  1.060233  1.124732  0.654907
(4, 3)  2.126879  0.161329  0.674490  1.638754  1.914977  1.429487
(5, 2)  2.126879  0.210428  0.374095  0.423273  1.375923  0.637279
(6, 3)  1.284784  0.185713  0.000000  0.767605  0.969528  1.060233

In [23]:
rstimLeftdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 3)  1.375923  2.830153  2.204822  2.208610  1.163266  1.435669
(3, 1)  1.334325  1.373112  2.704353  0.558871  1.036977  0.715110
(4, 1)  2.181371  2.351508  2.293459  2.073160  2.020043  1.376810
(5, 3)  2.022897  2.275715  2.501542  1.561636  1.163266  1.891943
(6, 2)  0.610295  1.641911  1.691431  1.774293  1.130857  1.150349

In [24]:
rstimRightdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 3)  1.698872  0.216785  0.170137  1.163266  1.163266  1.163266
(3, 1)  2.124012  0.654907  0.096036  1.456164  0.699944  1.051073
(4, 1)  2.181371  0.261944  0.209556  1.254983  0.887147  1.376810
(5, 3)  1.261242  0.318639  0.055456  1.037299  0.488776  0.588038
(6, 2)  1.300994  0.229883 -0.338132  0.767605  0.674490  0.648782

In [25]:
shamLeftdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.497441  2.830153  2.501542  1.317874  1.698872  2.144415
(3, 3)  0.807416  1.456198  1.641911  1.060233  0.831800  1.230370
(4, 2)  2.236827  2.181371  2.126879  1.638754  1.586366  1.967365
(5, 1)  2.181371  2.208610  2.082643  2.082643  0.531406  0.318639
(6, 1)  1.774293  1.468989  1.468989  1.576801  0.565696  0.661573

In [26]:
shamRightdPChart

            t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(2, 2)  1.223012  0.430727  0.488776  1.639126  1.375923  1.105217
(3, 3)  2.346338  0.741594  0.674490  1.300994  1.561636  0.993129
(4, 2)  2.236827  1.044457  0.052677  1.202595  1.967365  1.586366
(5, 1)  2.181371  0.264147  0.582786  0.807416  0.749367  0.541022
(6, 1)  0.548522  0.493578  0.252818  0.067104  1.100851  0.939522