In [26]:
from __future__ import division
import pandas as pd
pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
from dataMethods import *
from collections import OrderedDict
from scipy.stats import norm
Z = norm.ppf

In [27]:
import os
from os.path import expanduser

In [28]:
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'

In [29]:
dataSheets = [dataDirectory + 's1/rundata/run1_2016_Jul_21_0956.csv', dataDirectory + 's1/runData/run3_2016_Jul_21_1044.csv']

In [30]:
testRuns = [(1,1),(2,1)]

In [31]:
subjRunCount = OrderedDict()
for run in testRuns:
    subjRunCount[str(run[0])] = 0
for run in testRuns:
    subjRunCount[str(run[0])] += 1

In [32]:
conds = OrderedDict([('t2d0', (2, 0)), ('t2d2', (2, 2)), ('t2d4', (2, 4)), ('t4d0', (4, 0)), ('t4d2', (4, 2)), ('t4d4', (4, 4))])

In [33]:
hemiConds = OrderedDict([('t1d0', (1, 0)), ('t1d1', (1, 1)), ('t1d2', (1, 2)), ('t2d0', (2, 0)), ('t2d1', (2, 1)), ('t2d2', (2, 2))])

In [34]:
Kvals = []
hitRates = []
faRates = []
RTvals = []
dPrimes = []

for sheet in dataSheets:
    Kvals.append(pashlerK(sheet)['Kvals'])
    hitRates.append(pashlerK(sheet)['hitRates'])
    faRates.append(pashlerK(sheet)['fAlarmRates'])
    RTvals.append(rtCalc(sheet))
    dPrimes.append(dprime(sheet))
    
kChart = pd.DataFrame(Kvals, index=testRuns, columns=conds.keys())
hitChart = pd.DataFrame(hitRates, index=testRuns, columns=conds.keys())
faChart = pd.DataFrame(faRates, index=testRuns, columns=conds.keys())
rtChart = pd.DataFrame(RTvals, index=testRuns, columns=conds.keys())
dpChart = pd.DataFrame(dPrimes, index=testRuns, columns=conds.keys())

In [40]:
kChart

            t2d0      t2d2      t2d4  t4d0  t4d2      t4d4
(1, 1)  0.090909  0.041667  0.000000  0.32   0.0  0.320000
(2, 1)  1.904762  1.574468  1.454545  2.08   2.0  1.913043

In [41]:
hitChart

            t2d0      t2d2      t2d4  t4d0  t4d2  t4d4
(1, 1)  0.045455  0.020833  0.000000  0.08   0.0  0.08
(2, 1)  0.954545  0.791667  0.727273  0.52   0.5  0.52

In [42]:
faChart

            t2d0      t2d2  t2d4  t4d0  t4d2  t4d4
(1, 1)  0.000000  0.000000   0.0   0.0   0.0  0.00
(2, 1)  0.045455  0.020833   0.0   0.0   0.0  0.08

In [43]:
rtChart

            t2d0      t2d2      t2d4      t4d0     t4d2      t4d4
(1, 1)  0.451209  0.558497       NaN  0.576339      NaN  0.676320
(2, 1)  0.555115  0.616381  0.634771  0.649531  0.65696  0.710298

In [44]:
dpChart

            t2d0      t2d2      t2d4      t4d0      t4d2      t4d4
(1, 1)  0.309802  0.274157  0.000000  0.648677  0.000000  0.648677
(2, 1)  3.381243  2.849052  2.605009  2.103902  2.260189  1.455225

In [35]:
kSubjMeans = []
hitSubjMeans = []
faSubjMeans= []
rtSubjMeans = []
dpSubjMeans = []
index = 0
for subj in subjRunCount.keys():
    kSubjMeans.append(kChart[index:index+subjRunCount[subj]].mean())
    hitSubjMeans.append(hitChart[index:index+subjRunCount[subj]].mean())
    faSubjMeans.append(faChart[index:index+subjRunCount[subj]].mean())
    rtSubjMeans.append(rtChart[index:index+subjRunCount[subj]].mean())
    dpSubjMeans.append(dpChart[index:index+subjRunCount[subj]].mean())
    index += subjRunCount[subj]

kSubjMeanChart = pd.DataFrame(kSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
hitSubjMeanChart = pd.DataFrame(hitSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
faSubjMeanChart = pd.DataFrame(faSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
rtSubjMeanChart = pd.DataFrame(rtSubjMeans, index=subjRunCount.keys(), columns=conds.keys())
dpSubjMeanChart = pd.DataFrame(dpSubjMeans, index=subjRunCount.keys(), columns=conds.keys())

In [45]:
kSubjMeanChart

       t2d0      t2d2      t2d4  t4d0  t4d2      t4d4
1  0.090909  0.041667  0.000000  0.32   0.0  0.320000
2  1.904762  1.574468  1.454545  2.08   2.0  1.913043

In [46]:
hitSubjMeanChart

       t2d0      t2d2      t2d4  t4d0  t4d2  t4d4
1  0.045455  0.020833  0.000000  0.08   0.0  0.08
2  0.954545  0.791667  0.727273  0.52   0.5  0.52

In [47]:
faSubjMeanChart

       t2d0      t2d2  t2d4  t4d0  t4d2  t4d4
1  0.000000  0.000000   0.0   0.0   0.0  0.00
2  0.045455  0.020833   0.0   0.0   0.0  0.08

In [48]:
rtSubjMeanChart

       t2d0      t2d2      t2d4      t4d0     t4d2      t4d4
1  0.451209  0.558497       NaN  0.576339      NaN  0.676320
2  0.555115  0.616381  0.634771  0.649531  0.65696  0.710298

In [49]:
dpSubjMeanChart

       t2d0      t2d2      t2d4      t4d0      t4d2      t4d4
1  0.309802  0.274157  0.000000  0.648677  0.000000  0.648677
2  3.381243  2.849052  2.605009  2.103902  2.260189  1.455225

In [36]:
kCondMeans = []
kNameArray = ["K Value Mean"]
hitCondMeans = []
hitNameArray = ["Hit Rate Mean"]
faCondMeans = []
faNameArray = ["FA Rate Mean"]
rtCondMeans = []
rtNameArray = ["RT Mean"]
dpCondMeans = []
dpNameArray = ["d' Mean"]

for key in conds:
    kCondMeans.append(kSubjMeanChart[key].mean())
    hitCondMeans.append(hitSubjMeanChart[key].mean())
    faCondMeans.append(faSubjMeanChart[key].mean())
    rtCondMeans.append(rtSubjMeanChart[key].mean())
    dpCondMeans.append(dpSubjMeanChart[key].mean())
    
kCondMeanChart = pd.DataFrame(kCondMeans, index=conds.keys(), columns=kNameArray)
hitCondMeanChart = pd.DataFrame(hitCondMeans, index=conds.keys(), columns=hitNameArray)
faCondMeanChart = pd.DataFrame(faCondMeans, index=conds.keys(), columns=faNameArray)
rtCondMeanChart = pd.DataFrame(rtCondMeans, index=conds.keys(), columns=rtNameArray)
dpCondMeanChart = pd.DataFrame(dpCondMeans, index=conds.keys(), columns=dpNameArray)

In [50]:
kCondMeanChart

      K Value Mean
t2d0      0.997835
t2d2      0.808067
t2d4      0.727273
t4d0      1.200000
t4d2      1.000000
t4d4      1.116522

In [51]:
hitCondMeanChart

      Hit Rate Mean
t2d0       0.500000
t2d2       0.406250
t2d4       0.363636
t4d0       0.300000
t4d2       0.250000
t4d4       0.300000

In [52]:
faCondMeanChart

      FA Rate Mean
t2d0      0.022727
t2d2      0.010417
t2d4      0.000000
t4d0      0.000000
t4d2      0.000000
t4d4      0.040000

In [53]:
rtCondMeanChart

       RT Mean
t2d0  0.503162
t2d2  0.587439
t2d4  0.634771
t4d0  0.612935
t4d2  0.656960
t4d4  0.693309

In [54]:
dpCondMeanChart

       d' Mean
t2d0  1.845523
t2d2  1.561605
t2d4  1.302504
t4d0  1.376290
t4d2  1.130094
t4d4  1.051951

In [37]:
leftHitRates = []
rightHitRates = []

for sheet in dataSheets:
    leftHitRates.append(leftHemHitRates(sheet))
    rightHitRates.append(rightHemHitRates(sheet))
    
leftHitRateChart = pd.DataFrame(leftHitRates, index=testRuns, columns=hemiConds.keys())
rightHitRateChart = pd.DataFrame(rightHitRates, index=testRuns, columns=hemiConds.keys())

In [55]:
leftHitRateChart

        t1d0  t1d1      t1d2      t2d0      t2d1  t2d2
(1, 1)   0.0   0.0  0.000000  0.000000  0.000000   0.0
(2, 1)   0.5   0.5  0.666667  0.676471  0.631579   0.5

In [56]:
rightHitRateChart

        t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
(1, 1)   0.1  0.000000  0.000000  0.111111  0.000000  0.083333
(2, 1)   1.0  0.833333  0.818182  0.666667  0.692308  0.625000

In [38]:
leftHitRateSubjMeans = []
rightHitRateSubjMeans = []
index = 0
for subj in subjRunCount.keys():
    leftHitRateSubjMeans.append(leftHitRateChart[index:index+subjRunCount[subj]].mean())
    rightHitRateSubjMeans.append(rightHitRateChart[index:index+subjRunCount[subj]].mean())
    index += subjRunCount[subj]

leftHitRateSubjMeanChart = pd.DataFrame(leftHitRateSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())
rightHitRateSubjMeanChart = pd.DataFrame(rightHitRateSubjMeans, index=subjRunCount.keys(), columns=hemiConds.keys())

In [57]:
leftHitRateSubjMeanChart

   t1d0  t1d1      t1d2      t2d0      t2d1  t2d2
1   0.0   0.0  0.000000  0.000000  0.000000   0.0
2   0.5   0.5  0.666667  0.676471  0.631579   0.5

In [58]:
rightHitRateSubjMeanChart

   t1d0      t1d1      t1d2      t2d0      t2d1      t2d2
1   0.1  0.000000  0.000000  0.111111  0.000000  0.083333
2   1.0  0.833333  0.818182  0.666667  0.692308  0.625000

In [39]:
leftHitRateCondMeans = []
leftHitNameArray = ["leftHitRate Mean"]
rightHitRateCondMeans = []
rightHitNameArray = ["rightHitRate Mean"]

for key in hemiConds:
    leftHitRateCondMeans.append(leftHitRateSubjMeanChart[key].mean())
    rightHitRateCondMeans.append(rightHitRateSubjMeanChart[key].mean())
    
leftHitRateCondMeanChart = pd.DataFrame(leftHitRateCondMeans, index=hemiConds.keys(), columns=leftHitNameArray)
rightHitRateCondMeanChart = pd.DataFrame(rightHitRateCondMeans, index=hemiConds.keys(), columns=rightHitNameArray)

In [59]:
leftHitRateCondMeanChart

      leftHitRate Mean
t1d0          0.250000
t1d1          0.250000
t1d2          0.333333
t2d0          0.338235
t2d1          0.315789
t2d2          0.250000

In [60]:
rightHitRateCondMeanChart

      rightHitRate Mean
t1d0           0.550000
t1d1           0.416667
t1d2           0.409091
t2d0           0.388889
t2d1           0.346154
t2d2           0.354167