In [4]:
import pandas as pd
import os
from os.path import expanduser
import re
# establish file data directory
homeDirectory = expanduser("~")
dataDirectory = homeDirectory + os.sep + 'Google Drive/tACS_VWM_ALPHA/data/stim1/'
# read in csv file
saveDirectory = dataDirectory + 's' + str(2) + os.sep + 'runData/'
directoryFiles = os.listdir(saveDirectory)
csv = ''
for file in directoryFiles:
    match = re.match('run' + str(1) + '.*', file, re.M|re.I)
    if match != None:
        csv = saveDirectory + match.group()
df = pd.read_csv(csv)

# create conditions
resps = df['Response'] == 1
noResps = df['Response'] == 0
changes = df['ChangeTrial'] == 1
noChanges = df['ChangeTrial'] == 0
lChanges = df['ChangeCond'] == 1
lNoChanges = df['ChangeCond'] != 1
rChanges = df['ChangeCond'] == 2
rNoChanges = df['ChangeCond'] != 2

In [20]:
df

,trialID,Response,RT,ChangeTrial,nDistractors,nTargets,WFCond,ChangeCond,leftTargs,rightTargs,leftDists,rightDists,changeHemi,Unnamed: 13
0,0,1,0.608519,0,0,4,4,3,2,2,0,0,NaN,NaN
1,1,0,NaN,0,4,4,6,3,2,2,2,2,NaN,NaN
2,2,0,NaN,1,4,4,6,1,2,2,2,2,left,NaN
3,3,1,0.584683,1,4,2,3,2,1,1,2,2,right,NaN
4,4,1,0.384783,0,0,4,4,3,2,2,0,0,NaN,NaN
5,5,0,NaN,0,4,4,6,3,2,2,2,2,NaN,NaN
6,6,0,NaN,0,4,4,6,3,2,2,2,2,NaN,NaN
7,7,0,NaN,1,2,2,2,2,1,1,1,1,right,NaN
8,8,1,0.650805,1,0,4,4,2,2,2,0,0,right,NaN
9,9,1,0.634981,1,4,2,3,1,1,1,2,2,left,NaN
10,10,1,0.584752,1,0,2,1,2,1,1,0,0,right,NaN
11,11,1,0.551680,1,0,2,1,1,1,1,0,0,left,NaN
12,12,1,0.617410,1,2,4,5,1,2,2,1,1,left,NaN
13,13,1,0.584838,1,2,4,5,2,2,2,1,1,right,NaN
14,14,1,0.567912,1,4,2,3,1,1,1,2,2,left,NaN
15,15,1,0.534906,1,2,4,5,1,2,2,1,1,left,NaN
16,16,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN
17,17,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
18,18,1,0.501448,1,2,4,5,1,2,2,1,1,left,NaN
19,19,1,0.484947,1,2,2,2,2,1,1,1,1,right,NaN
20,20,1,0.518070,1,2,4,5,2,2,2,1,1,right,NaN
21,21,1,0.501460,1,4,2,3,2,1,1,2,2,right,NaN
22,22,1,0.468144,0,0,2,1,3,1,1,0,0,NaN,NaN
23,23,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN
24,24,0,NaN,0,4,4,6,3,2,2,2,2,NaN,NaN
25,25,0,NaN,0,0,2,1,3,1,1,0,0,NaN,NaN
26,26,1,0.568123,1,0,4,4,2,2,2,0,0,right,NaN
27,27,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
28,28,0,NaN,0,2,2,2,3,1,1,1,1,NaN,NaN
29,29,0,NaN,1,2,2,2,2,1,1,1,1,right,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,354,1,0.518199,1,0,4,4,1,2,2,0,0,left,NaN
355,355,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
356,356,0,NaN,1,2,4,5,2,2,2,1,1,right,NaN
357,357,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
358,358,1,0.768354,1,0,2,1,1,1,1,0,0,left,NaN
359,359,0,NaN,0,2,2,2,3,1,1,1,1,NaN,NaN
360,360,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
361,361,0,NaN,1,2,4,5,1,2,2,1,1,left,NaN
362,362,0,NaN,0,0,2,1,3,1,1,0,0,NaN,NaN
363,363,1,0.568069,0,0,2,1,3,1,1,0,0,NaN,NaN
364,364,1,0.451353,1,0,4,4,2,2,2,0,0,right,NaN
365,365,0,NaN,1,4,2,3,2,1,1,2,2,right,NaN
366,366,1,0.568321,0,2,4,5,3,2,2,1,1,NaN,NaN
367,367,1,0.550597,1,2,2,2,2,1,1,1,1,right,NaN
368,368,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN
369,369,0,NaN,0,2,2,2,3,1,1,1,1,NaN,NaN
370,370,1,0.584172,1,4,4,6,1,2,2,2,2,left,NaN
371,371,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN
372,372,0,NaN,0,0,4,4,3,2,2,0,0,NaN,NaN
373,373,1,0.434901,1,4,2,3,2,1,1,2,2,right,NaN
374,374,0,NaN,1,4,2,3,2,1,1,2,2,right,NaN
375,375,1,0.467330,1,4,4,6,2,2,2,2,2,right,NaN
376,376,0,NaN,0,4,2,3,3,1,1,2,2,NaN,NaN
377,377,0,NaN,1,2,4,5,2,2,2,1,1,right,NaN
378,378,0,NaN,1,4,2,3,1,1,1,2,2,left,NaN
379,379,0,NaN,0,0,2,1,3,1,1,0,0,NaN,NaN
380,380,0,NaN,0,0,2,1,3,1,1,0,0,NaN,NaN
381,381,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN
382,382,1,0.501624,1,0,2,1,1,1,1,0,0,left,NaN
383,383,0,NaN,0,2,4,5,3,2,2,1,1,NaN,NaN